<?xml version="1.0"?>
<config>
    <modules>
        <Belvg_Import>
            <version>1.0.8</version>
        </Belvg_Import>
    </modules>
    <frontend>
        <routers>
            <import>
                <use>standard</use>
                <args>
                    <module>Belvg_Import</module>
                    <frontName>import</frontName>
                </args>
            </import>
        </routers>       
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <import>
                            <title>MHSWS Connector</title>
                            <sort_order>200</sort_order>
                        </import>
						<system>
							<children>
								<config>
									<children>
										<import>
											<title>MHSWS Connector</title>
										</import>
									</children>
								</config>
							</children>
						</system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <import>
                <class>Belvg_Import_Model</class>
            </import>
        </models>
        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <belvg_import_checkout>
                        <class>import/observer</class>
                        <method>sendStockInfo</method>
                    </belvg_import_checkout>
                </observers>
            </sales_order_invoice_save_after>
        </events>
        <blocks>
            <import>
                <class>Belvg_Import_Block</class>
            </import>
        </blocks>
        <helpers>
            <import>
                <class>Belvg_Import_Helper</class>
            </import>
        </helpers>
        <resources>
            <import_setup>
                <setup>
                    <module>Belvg_Import</module>
                    <class>Belvg_Import_Model_Resource_Setup</class>
                </setup>
            </import_setup>
        </resources>
        <template>
            <email>
                <test_mhsws_email_template>
                    <label>Alert MHSWS Cron job</label>
                    <file>belvg/mhsws_cron.html</file>
                    <type>html</type>
                </test_mhsws_email_template>
            </email>
        </template>
    </global>
    <crontab>
        <jobs>
            <MHSWSConnector_ProductsUpdate>
                <schedule>
                    <cron_expr>59 23 * * *</cron_expr>
                </schedule>
                <run>
                    <model>import/cron::productsUpdate</model>
                </run>
            </MHSWSConnector_ProductsUpdate>
            <MHSWSConnector_StockUpdate>
                <schedule>
                    <cron_expr>*/59 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>import/cron::stockUpdate</model>
                </run>
            </MHSWSConnector_StockUpdate>
            <!--<MHSWSConnector_TestCron>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>import/cron::cronTest</model>
                </run>
            </MHSWSConnector_TestCron>--> 
        </jobs>
    </crontab>
</config>