<?xml version="1.0"?>
<config>
	<sections>
		<import translate="label">
			<label>MHSWS Connector</label>
			<tab>catalog</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<settings translate="label">
					<label>MHSWS Connector</label>
					<frontend_type>text</frontend_type>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
                    <fields>
                        <access_identifier translate="label comment">
                            <label>Access Identifier</label>
                            <comment>
                                <![CDATA[client_identifier which must be the access identifier]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-alphanum</validate>
                        </access_identifier>
                        <secret_key translate="label comment">
                            <label>Secret Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-alphanum</validate>
                        </secret_key>
                        <keyword translate="label comment">
                            <label>Keyword</label>
                            <comment>
                                <![CDATA[can be any value you like]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-alphanum</validate>
                        </keyword>
                        <context_livetime translate="label comment">
                            <label>Context livetime</label>
                            <comment>
                                <![CDATA[by default: 10800 (in seconds = 3 hour)]]>
                            </comment>
                            <default>10800</default>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-alphanum</validate>
                        </context_livetime>
                        <cron_email translate="label comment">
                            <label>Email</label>
                            <comment>
                                <![CDATA[test email for cron job]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-email</validate>
                        </cron_email>
                        <import_data translate="label comment">
                            <label></label>
                            <comment><![CDATA[
                                Products will be created or updated.<br/><br/>
                                <b>Format of data (example):</b><br><br>
                                [uid] => 4611686018438872363L<br>
                                [plu_sku] => 17251<br>
                                [department] => panties<br>
                                [qty] => 10<br>
                                [retail_price] => 15<br>
                                [cost] => 5.98<br>
                                [size] => s<br>
                                [category] => high cut<br>
                                [price] => 15<br>
                                [style] => b-smooth hi-cut brief<br>
                                [color] => nude<br>
                                [name] => b-smooth hi-cut brief<br>
                                [brand] => wacoal<br>
                            ]]></comment>
                            <frontend_model>Mhsws_Import_Block_Adminhtml_Form_Field_Config</frontend_model>
                            <backend_model>import/system_config_backend_config</backend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import_data>
                        <import_qty translate="label comment">
                            <label></label>
                            <comment><![CDATA[
                                Qty of products will be updated.<br/><br/>
                                <b>Format of data (example):</b><br><br>
                                [uid] => 4611686018438872363L<br>
                                [qty] => 1<br>
                            ]]></comment>
                            <frontend_model>Mhsws_Import_Block_Adminhtml_Form_Field_UpdateQty</frontend_model>
                            <backend_model>import/system_config_backend_config</backend_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import_qty>
					</fields>
				</settings>
			</groups>
		</import>
  </sections>
</config>
